* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  width: 90%;
  margin: 1rem auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(18, 78, 78, 0.241);

  padding: 1rem;
  border-radius: 10px;
}
.heart_btn {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  position: relative;
}
.size-6 {
  width: 30px;
  color: rgb(255, 0, 0);
}
.num {
  position: absolute;
  right: -5px;
  background-color: rgba(255, 0, 0, 0.408);
  border-radius: 100%;
  padding: 2.5px 5px;
}
.search {
  border: none;
  outline: none;
  color: #ffffff;
  height: 2rem;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgb(161, 161, 161);
}
/* //////////////////////////mid container//////////////////////////// */
.mid {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  /* font: small; */
}
/* //////////////////////charlist//////////////////////// */
.char_list {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background-color: rgba(18, 78, 78, 0.241);

  flex: 1;
  height: 5rem;
  gap: 0.3rem;
}
.char_list:hover {
  background-color: rgba(34, 200, 200, 0.241);
  transition: 0.3s all ease;
}

.char_img {
  width: 5rem;
  border-radius: 10px 0 0 10px;
}
.red {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: red;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.green {
  width: 0.5rem;
  height: 0.5rem;
  display: block;
  background-color: green;
  border-radius: 100%;
  margin-right: 0.5rem;
}
.midlist_name {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  min-width: 8rem;
}
.midlist_status {
  display: flex;
  align-items: center;
}
.midlist_name_top {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}
.eye {
  width: 1.5rem;
  margin: 0 1rem;
  color: rgba(255, 0, 0, 0.673);

  background-color: rgba(18, 78, 78, 0);

  border: none;
}
.eye:hover {
  color: rgb(255, 0, 0);
}
/* ////////////////////////loading/////////////////////////// */
.Loading {
  display: flex;

  justify-content: center;
  align-items: center;

  /* background-color: rgba(28, 165, 165, 0.241); */
  flex: 1.5;
}
/* //////////////////////main/////////////////// */
.main_text__select {
  margin: 2rem auto;
}
.main {
  flex: 2;
  font-size: small;
}
.chardetail {
  margin-top: 1rem;
  background-color: rgba(18, 78, 78, 0.241);

  width: 100%;
  height: 9rem;
  border-radius: 10px;
}
.img_main {
  /* width: 100%; */
  height: 100%;
  border-radius: 10px 0 0 10px;
  margin-right: 1rem;
}
.chardetail {
  display: flex;
}
.name_main {
  display: flex;
  gap: 0.2rem;
  /* justify-content: center; */
}
.charmain_status {
  gap: 0.2rem;
  display: flex;
  align-items: center;
}
.detail_main {
  width: 70%;
}
.lastknown_text {
  color: rgb(127, 137, 139);
}
.detail_main {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.main_btn {
  width: 7rem;
  padding: 0.4rem;
  border-radius: 10px;
  border: none;
  background: rgb(93, 93, 93);
}
/* ////////////////////////////episode///////////////////////////// */
.episode_container_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}
.episode_container_top_icon {
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 50%;
  width: 1.3rem;
  transition: all 0.4s ease;
}
.episode_container {
  margin-top: 1rem;
  background-color: rgba(18, 78, 78, 0.241);
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  border-radius: 10px;
}
.episode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.episode_right {
  /* min-width: 3rem; */
  background-color: rgb(103, 103, 103);
  padding: 0.5rem;
  font-size: small;
  margin-bottom: 0.4rem;
  border-radius: 10px;
  width: 9rem;
}
.episode_text {
  margin-bottom: 0.5rem;
  font-size: small;
}
